<%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <h3>Welcome, <%=user.firstName%></h3>
        <%if(games.length) {%>
            <p> You have created the following trades.</p>
            <table class="table table-light table-hover">
                <tr>
                    <th>Game</th>
                    <th>Game Category</th>
                    <th>Action</th>
                </tr>
                <%games.forEach(game =>{%>
                    <tr>
                        <td><a href="/trades/<%= game.id %>" class="card-link"><p><%= game.name %></p></a></td>
                        <td><%= game.category%></td>
                        <td>
                            <form>
                                <button type="submit" class="btn btn-primary" id="update" value="update"
                                formmethod="GET" formaction="/trades/<%=game.id%>/edit">Edit</button>
                                <button type="submit" class="btn btn-secondary" id="delete" value="delete"
                                formmethod="POST" formaction="/trades/<%=game.id%>?_method=DELETE">Delete</button>
                            </form>
                        </td>
                    </tr>
                <%})%>
            </table>
        <%} else {%>
            <p>You do not have any trade currently.</p>
        <%}%>
    </div>
</div>

<%- include('../partials/footer'); %>