<link type="text/css" href="/css/trade.css" rel="stylesheet">

<%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <div class="item">
            <div class="item-sale">
                <aside class="item-image">
                    <%if(game.image) {%>
                        <img class="card-img-top" src="<%= game.image %> " alt="Card image cap" style="max-width:50%;height:auto;">
                    <%}else{%>
                        <img class="card-img-top" src="/assests/images/game.jpeg" alt="Card image cap" style="max-width:50%;height:auto;">
                    <%}%>
                </aside>
                <div class="item-btns">
                    <h4><%= game.name%></h4>
                    <%if(game.created_by) {%>
                        <small>Created By <%=game.created_by.firstName + ' ' + game.created_by.lastName%></small>
                    <%}%>
                    <%if(game.created_by && user == game.created_by._id) {%>
                        <form>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" id="update" value="update"
                                formmethod="GET" formaction="/trades/<%=game.id%>/edit">Edit</button>
                                <button type="submit" class="btn btn-secondary" id="delete" value="delete"
                                formmethod="POST" formaction="/trades/<%=game.id%>?_method=DELETE">Delete</button>
                            </div>
                        </form>
                    <%}%>
                </div>
            </div>
            <div class="item-info">
                <h3>Description:</h3>
                <%= game.description %> 
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>