<link type="text/css" rel="stylesheet" href="/css/trades.css">
<%- include('../partials/header'); %>
<div class="container">
    <div class="main-container">
        <% if (Object.keys(categories).length) {%>
            <% Object.keys(categories).forEach((category) => {%>  
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=<%= categories[category][0].device_img %>  alt="Card image cap" style="max-width:50%;height:auto;">
                    <div class="card-body">
                        <h5 class="card-title"><%= category %> </h5>
                        <!-- <p class="card-text">Love Action? Good Choice</p> -->
                    </div>
                    <% var objs = categories[category]; %> 
                    <ul class="list-group list-group-flush">
                        <% objs.forEach((game)=>{ %>
                        <li class="list-group-item">
                            <a href="/trades/<%= game.id %>" class="card-link"><%= game.name %></a>
                        </li>
                        <% }); %> 
                    </ul>
                </div>
                <% }); %> 
        <% } else { %>
            <p> Oops. No categories decided yet</p>
        <% } %>
    </div>
</div>
<%- include('../partials/footer'); %> 